.accordion {
    display: block;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;

}

.accordion .title {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    background: #303030;
    padding: 20px;
}


.accordion .title i {
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--white);
}

.accordion .title button {
    font-size: 1.625rem;
    font-weight: 400;
    width: 100%;
    color: var(--white);
    position: relative;
    text-align: start;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}

.answer {
    background: #303030;
    padding: 20px;
}

.answer p {
    text-align: justify;
    font-weight: 400;
    font-size: 1.625rem;
    color: var(--white);
}