
/* Cards */

.recommend img {
  width: 235px;
  height: 130px;
  border-radius: var(--border);
  object-fit: contain;
}

.original img {
  width: 215px;
  height: 435px;
  border-radius: var(--border);
  object-fit: contain;
}
.trending .poster,
.trending .top {
  width: 125px;
  height: 175px;
  border-radius: var(--border);
  object-fit: contain;
}
.trending .poster {
  position: relative;
  z-index: 2;
}
.trending .top {
  position: relative;
  left: 0.5rem;
  z-index: 1;
}

.trending, .recommend, .original {
  position: relative;
  z-index: 1;
}

/* Card Show */
.swiper {
  overflow: visible;
  position: relative;
  z-index: 1;
}
/* /* .slide {
  position: relative;
  z-index: 1;
} */
.slider {
  position: relative;
  z-index: 1;
}

.recommend:hover img {
  position: absolute !important;
  top: 0 !important;
  z-index: 100 !important;
  transform: scale(2.5);
}
